{% extends "layout.html" %} {% block content %}
<div class="image">
  <div class="explanation">
    <p class="paragraph1">Welcome to ScentWaves Laundry. Quality Laundry Service In Your Area.</p>
    <p class="paragraph2">
      Contact us: +254740875571
    </p>
  </div>
    <a href="/services"><button class="Button1">Explore Services</button></a>
  
</div>

<!--grids-->

<div class="grid-container">
  <div class="grid-item">
    <img
      src="https://i.pinimg.com/236x/aa/0d/0f/aa0d0f052a4e2c9f04b967d3df8913e2.jpg"
      alt="Clothing"
    />
    <h3>Wash and Fold</h3>
    <a href="/pricing#"><button class="pricing-btn">Pricing</button></a>
  </div>
  <div class="grid-item">
    <img
      src="https://i.pinimg.com/236x/ec/02/53/ec02531bdaf64f4015313105afd83e24.jpg"
      alt="Carpets"
    />
    <h3>Press</h3>
    <button class="pricing-btn">Pricing</button>
  </div>
  <div class="grid-item">
    <img
      src="https://i.pinimg.com/236x/54/0c/b9/540cb92099880a08884b3fc80e0776bb.jpg"
      alt="Blankets"
    />
    <h3>Repairs</h3>
    <button class="pricing-btn">Pricing</button>
  </div>
  <div class="grid-item">
    <img
      src="https://i.pinimg.com/236x/cd/8f/fc/cd8ffc7a995d0f3db76de0986b9819fb.jpg"
      alt="Blankets"
    />
    <h3>Leather cleaning</h3>
    <button class="pricing-btn">Pricing</button>
  </div>
  <div class="grid-item">
    <img
      src="https://i.pinimg.com/236x/bc/8e/a3/bc8ea3312889c5ad3385e2e61d3b6baa.jpg"
      alt="Blankets"
    />
    <h3>Household Items</h3>
    <button class="pricing-btn">Pricing</button>
  </div>
</div>

<!--about us-->

<header>
  <section id="about">
    <h1>About us</h1>
  </section>
</header>

<section>
  <div class="row">
    <div class="column">
      <h1 style="color: #4caf50">ScentWaves laundry</h1>

      <p>
        ScentWaves Laundry takes pride in redefining the essence of freshness.
        Our commitment goes beyond clean clothes; we aim to immerse your
        garments in an invigorating wave of delightful scents. With meticulous
        care and cutting-edge techniques, ScentWaves Laundry not only cleans but
        transforms your laundry experience. We are dedicated to simplifying
        lives, ensuring that every piece of clothing radiates a sense of
        freshness, making each day a fragrant and enjoyable journey.
      </p>
      <h1 style="color: #4caf50">Our Vision</h1>
      <p>
        Striving to be the preferred choice in laundry services, we envision a
        future where our commitment to excellence seamlessly integrates with the
        lives of our customers, making each day a bit more effortless and
        enjoyable.
      </p>
      <h1 style="color: #4caf50">Our Mission</h1>
      <p>
        dedicated to providing exceptional laundry services, enriching lives
        through pristine garments, care, and sustainability."
      </p>
    </div>
    <div class="column">
      <img
        src="https://i.pinimg.com/564x/b5/0b/c6/b50bc64eed6bd901cbf9428906cd21f3.jpg"
      />
    </div>
  </div>

  <p style="font-weight: bold; font-size: 35px">
    HOW IT WORKS: IN 4 EASY STEPS
  </p>

  <div class="grid-container">
    <div class="grid-item">
      <img
        src="https://smartdata.tonytemplates.com/laundry-v2/wp-content/uploads/2011/05/img_icon_01.png"
        alt="bag"
      />
      <h3>Step 1</h3>
      <p>Bag up all your dirty clothes.</p>
    </div>
    <div class="grid-item">
      <img
        src="https://smartdata.tonytemplates.com/laundry-v2/wp-content/uploads/2011/05/img_icon_02.png"
        alt="Pick"
      />
      <h3>Step 2</h3>
      <p>We pick up your clothes.</p>
    </div>

    <div class="grid-item">
      <img
        src="https://smartdata.tonytemplates.com/laundry-v2/wp-content/uploads/2011/05/img_icon_03.png"
        alt="clean"
      />
      <h3>Step 3</h3>
      <p>We clean your clothes.</p>
    </div>

    <div class="grid-item">
      <img
        src="https://smartdata.tonytemplates.com/laundry-v2/wp-content/uploads/2011/05/img_icon_04.png"
        alt="clean"
      />
      <h3>Step 4</h3>
      <p>We deliver clean, folded clothes.</p>
    </div>
  </div>

  <a href="#" class="learn-more-btn">Learn More</a>
</section>

<!-- footer -->
{% endblock %}
